* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: #400843;
 color: #fff;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 1.75rem;
 font-family: 'Roboto', sans-serif;

}

button {
 cursor: pointer;
}

a {
 text-decoration: none;
 color: #fff;
}

ul {
 list-style: none;
 margin: 0;
 padding: 0;

}

