@import './variables';
@import './dark-theme';
@import './components/Home.scss';
@import './components/Login.scss';
@import './components/LotsPage.scss';
@import './components/Navbar.scss';
@import './components/Reservations.scss';
@import './components/UserProfile.scss';